<p-dialog
  [header]="title"
  [(visible)]="visible"
  [modal]="true"
  [style]="{ width: '70vw' }"
  (onHide)="closeModal()"
>
  <div>
    <form [formGroup]="form">
      <div class="p-fluid">
        <div class="p-field" *ngFor="let field of fields">
          <label [for]="field.key">{{ field.label }}</label>
          <ng-container [ngSwitch]="field.type">

            <input
              *ngSwitchCase="'text'"
              [id]="field.key"
              pInputText
              [formControlName]="field.key"
              [readonly]="mode === 'view'"
            />


            <input
              *ngSwitchCase="'password'"
              [id]="field.key"
              type="password"
              pInputText
              [formControlName]="field.key"
              [readonly]="mode === 'edit' || mode === 'view'"
            />


            <textarea
              *ngSwitchCase="'textarea'"
              [id]="field.key"
              pInputTextarea
              [formControlName]="field.key"
              [readonly]="mode === 'view'"
            ></textarea>


            <div *ngIf="!field.multiSelect">

              <p-dropdown
                *ngSwitchCase="'dropdown'"
                [id]="field.key"
                [options]="field?.options || []"
                [formControlName]="field.key"
                [readonly]="mode === 'view'"
                placeholder="Select an option"
              ></p-dropdown>

            </div>


            <div *ngIf="field.multiSelect">
              <p-multiSelect
                [filter]="true"
                [showClear]="true"
                *ngSwitchCase="'dropdown'"
                [id]="field.key"
                [options]="field.options || []"

                display="chip"
                [formControlName]="field.key"
                [readonly]="mode === 'view'"
                placeholder="Select options"
              >
              </p-multiSelect>


            </div>

<!--                        <p-fileUpload-->
<!--                          name="demo[]"-->
<!--                          url="https://www.primefaces.org/cdn/api/upload.php"-->
<!--                          (onUpload)="onUpload($event)"-->
<!--                          [multiple]="true"-->
<!--                          accept="image/*"-->
<!--                          maxFileSize="1000000">-->
<!--                          <ng-template pTemplate="content">-->
<!--                            <ul *ngIf="uploadedFiles.length">-->
<!--                                <li *ngFor="let file of uploadedFiles">-->
<!--                                  {{ file.name }} - {{ file.size }} bytes-->
<!--                                </li>-->
<!--                            </ul>-->
<!--                          </ng-template>-->
<!--                        </p-fileUpload>-->

<!--             Regular file input -->

            <input
              *ngSwitchCase="'file'"
              type="file"
              [id]="field.key"
              (change)="onFileChange($event, field.key)"
              [readonly]="mode === 'view'"
            />
        <input
              *ngSwitchCase="'date'"
              [id]="field.key"
              pInputText
              [value]="data[field.key] | date: 'MM/dd/yyyy'"
              [readonly]="mode === 'view'"
            />

            <div *ngIf="fileContent">
              <h4>File Content:</h4>
              <pre>{{ fileContent }}</pre> <!-- Display the file content here -->
            </div>
          </ng-container>
        </div>
      </div>
    </form>
  </div>
  <div class="flex justify-content-end gap-2">
    <button *ngIf="mode === 'edit' || mode === 'add'" pButton type="button" label="Save" (click)="onSave()"></button>
    <button pButton type="button" label="Close" (click)="closeModal()"></button>
  </div>
</p-dialog>
