<div class="d-flex" id="wrapper" [ngClass]="{'toggled': sidebarCollapsed}">
  <!-- Sidebar -->
  <div class="border-end bg-white" id="sidebar-wrapper">
    <div class="sidebar-heading border-bottom bg-light">Reservation Management</div>
    <div class="list-group list-group-flush">
      <a class="list-group-item list-group-item-action list-group-item-light p-3" routerLink="/reservations" aria-selected="true">Reservations</a>
      <a class="list-group-item list-group-item-action list-group-item-light p-3" routerLink="/client">Clients</a>
      <a class="list-group-item list-group-item-action list-group-item-light p-3" routerLink="/task">Task</a>
      <a class="list-group-item list-group-item-action list-group-item-light p-3" href="/market">Produit</a>
      <a class="list-group-item list-group-item-action list-group-item-light p-3" href="/task"></a>
      <a class="list-group-item list-group-item-action list-group-item-light p-3" href="#!">Profile</a>
    </div>
  </div>

  <!-- Page Content Wrapper -->
  <div id="page-content-wrapper">
    <!-- Top Navigation -->
    <nav class="navbar navbar-expand-lg navbar-light bg-light border-bottom">
      <div class="container-fluid">
        <button class="btn btn-primary" id="sidebarToggle" (click)="toggleSidebar()">Toggle Menu</button>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
                aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
          <ul class="navbar-nav ms-auto mt-2 mt-lg-0">
            <li class="nav-item active"><a class="nav-link" routerLink="/">Home</a></li>
            <li class="nav-item"><a class="nav-link" href="#!">Link</a></li>
            <li class="nav-item dropdown">
              <a class="nav-link dropdown-toggle" id="navbarDropdown" href="#" role="button" data-bs-toggle="dropdown"
                 aria-haspopup="true" aria-expanded="false">Dropdown</a>
              <div class="dropdown-menu dropdown-menu-end" aria-labelledby="navbarDropdown">
                <a class="dropdown-item" href="#!">Action</a>
                <a class="dropdown-item" href="#!">Another action</a>
                <div class="dropdown-divider"></div>
                <a class="dropdown-item" href="#!">Something else here</a>
              </div>
            </li>
          </ul>
        </div>
      </div>
    </nav>

    <!-- Page Content with PrimeNG Table -->
    <div class="container-fluid p-3">
      <p-table
        #dt
        [value]="reservations"
        dataKey="id"
        [rows]="5"
        [rowsPerPageOptions]="[5, 10, 15]"
        [loading]="loading"
        [paginator]="true"
        sortMode="multiple"
        [globalFilterFields]="['id', 'dateDebut', 'dateFin', 'prixTotal', 'statut.libelle']"
        [tableStyle]="{'min-width': '50rem'}"
      >
        <ng-template pTemplate="caption">
          <div class="flex1">
            <span class="p-input-icon-left">
              <i class="pi pi-search"></i>
              <input pInputText type="text" (input)="dt.filterGlobal($any($event.target).value, 'contains')"
                     placeholder="Search reservations" />
              <p-button icon="pi pi-filter-slash" class="p-button-rounded p-button-outlined" (click)="clear(dt)" />
            </span>
            <button pButton icon="pi pi-plus" label="Add Reservation" class="p-button-rounded p-button-success"
                    (click)="openAddModal()"></button>
          </div>
        </ng-template>

        <ng-template pTemplate="header">
          <tr>
            <th pSortableColumn="id" style="min-width:8rem">
              <div class="flex items-center">
                <p-sortIcon field="id"></p-sortIcon>
                ID
                <p-columnFilter type="numeric" field="id" display="menu" />
              </div>
            </th>
            <th pSortableColumn="dateDebut" style="min-width:12rem">
              <div class="flex items-center">
                <p-sortIcon field="dateDebut"></p-sortIcon>
                Date Début
                <p-columnFilter type="date" field="dateDebut" display="menu" />
              </div>
            </th>
            <th pSortableColumn="dateFin" style="min-width:12rem">
              <div class="flex items-center">
                <p-sortIcon field="dateFin"></p-sortIcon>
                Date Fin
                <p-columnFilter type="date" field="dateFin" display="menu" />
              </div>
            </th>
            <th pSortableColumn="prixTotal" style="min-width:10rem">
              <div class="flex items-center">
                <p-sortIcon field="prixTotal"></p-sortIcon>
                Prix Total
                <p-columnFilter type="numeric" field="prixTotal" display="menu" />
              </div>
            </th>

            <th pSortableColumn="statut.libelle" style="min-width:10rem">
              <div class="flex items-center">
                <p-sortIcon field="statut.libelle"></p-sortIcon>
                Statut
                <p-columnFilter type="text" field="statut.libelle" display="menu" />
              </div>
            </th>
            <th style="min-width:10rem">Action</th>
          </tr>
        </ng-template>

        <ng-template pTemplate="body" let-reservation>
          <tr>
            <td>{{ reservation.id }}</td>
            <td>{{ reservation.dateDebut | date:'dd/MM/yyyy' }}</td>
            <td>{{ reservation.dateFin | date:'dd/MM/yyyy' }}</td>
            <td>{{ reservation.prixTotal }}</td>
            <td>
              <p-tag [value]="getStatusLibelle(reservation.statutId)" [severity]="getSeverity(getStatusLibelle(reservation.statutId))" />
            </td>
<!--            <td>{{ getStatusLibelle(reservation.statutId) }}</td>-->
            <td>
              <button pButton type="button" icon="pi pi-eye" class="p-button-rounded p-button-outlined"
                      (click)="viewReservation(reservation.id)"></button>
              <button pButton type="button" icon="pi pi-pencil" class="p-button-rounded p-button-outlined"
                      (click)="editReservation(reservation.id)"></button>
              <button pButton type="button" icon="pi pi-trash" class="p-button-rounded p-button-outlined"
                      (click)="deleteReservation(reservation.id)"></button>
            </td>
          </tr>
        </ng-template>

        <ng-template pTemplate="emptymessage">
          <tr>
            <td colspan="7">No reservations found.</td>
          </tr>
        </ng-template>
      </p-table>

      <div *ngIf="errorMessage && !loading" class="p-error text-center p-mt-3">
        {{ errorMessage }}
      </div>

      <!-- Modal with Single Client Selection -->
      <p-dialog [header]="isViewMode ? 'View Reservation Details' : 'Add New Reservation'" [(visible)]="showModal" [modal]="true" [style]="{'width': '35rem'}">
        <div class="p-fluid">
          <div class="p-field">
            <label for="dateDebut">Date Début</label>
            <input pInputText id="dateDebut" [(ngModel)]="selectedReservation.dateDebut" type="date" [disabled]="isViewMode" />
          </div>
          <div class="p-field">
            <label for="dateFin">Date Fin</label>
            <input pInputText id="dateFin" [(ngModel)]="selectedReservation.dateFin" type="date" [disabled]="isViewMode" />
          </div>
          <div class="p-field">
            <label for="prixTotal">Prix Total</label>
            <input pInputText id="prixTotal" [(ngModel)]="selectedReservation.prixTotal" type="number" [disabled]="isViewMode" />
          </div>

          <div class="p-field">
            <label for="statut">Statut</label>
            <p-dropdown id="statut" [options]="statuts" [(ngModel)]="selectedReservation.statut" optionLabel="libelle"
                        [disabled]="true" placeholder="Select a Status" [style]="{'width': '100%'}" [showClear]="false"></p-dropdown>
          </div>
          <div class="p-field">
            <label for="client">Client</label>
            <p-dropdown id="client" [options]="clients" [(ngModel)]="selectedClientId" optionLabel="nom" optionValue="id" [disabled]="isViewMode"
                        placeholder="Select a Client" [style]="{'width': '100%'}" [showClear]="true"></p-dropdown>
          </div>
        </div>
        <p-footer>
          <button pButton type="button" label="Close" class="p-button-secondary" (click)="closeModal()"></button>
          <button *ngIf="!isViewMode" pButton type="button" label="Save" class="p-button-primary" (click)="saveReservation()"></button>
        </p-footer>
      </p-dialog>
    </div>
  </div>
</div>
